<h5>Here goes form for transaction sender</h5>
<h6>{{ dataFromServer }}</h6>


<form (ngSubmit)="sendTestData()">
  <div>
    <input type="text" name="transactionType" [(ngModel)]="visa"/>
  </div>
  <div>
    <button type="submit">Upload</button>
  </div>
</form>

<form (ngSubmit)="sendForm()" #form="ngForm">
  <div *ngFor="let field of inputFields; index as i">
    <input type="text" name="field-{{ field.id }}" [(ngModel)]="inputFields[i].value" [attr.data-index]="i"><label>{{ field.label }}</label>
  </div>
  <div>
    <button type="submit">Send</button>
  </div>
</form>